@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes growAndShrink {
  0% {
      transform: scale(1);
      opacity: 0.5;
  }
  50% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}
@keyframes zoomInRight {
  from {
    transform: translateX(100%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes zoomInLeft {
  from {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}
@keyframes zoomInUp {
  from {
    transform: translateY(100%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes zoomInDown {
  from {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInCard1 {
  from { transform: translateX(-400%); opacity: 1; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slideInCard2 {
  from { transform: translateX(-400%); opacity: 1; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slideInCard3 {
  from { transform: translateX(-400%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
.slide-in-card-1 { 
  animation: slideInCard1 1s ease forwards; 
}
.slide-in-card-2 { 
  animation: slideInCard2 1s ease forwards; 
  animation-delay: 0.2s;
}
.slide-in-card-3 { 
  animation: slideInCard3 1s ease forwards; 
  animation-delay: .3s;
}
.visible {
  opacity: 1;
}
.initial-state {
  opacity: 0;
}
.fade-in { animation: fadeIn 1s ease-out forwards; }
.zoom-in-right { animation: zoomInRight .75s ease-out forwards; }
.zoom-in-left { animation: zoomInLeft .75s ease-out forwards; }
.slide-in-left { animation: slideInLeft .75s ease-out forwards; }
.zoom-in-up { animation: zoomInUp .75s ease-out forwards; }
.zoom-in-down { animation: zoomInDown .75s ease-out forwards; }
.grow-and-shrink { animation: growAndShrink 1.5s ease-out forwards; }
