* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box
}
:root {
  --COLOR-MAIN-BRIGHT: #2c8ddb;
  --COLOR-MAIN-DARK: #003a71;
  --COLOR-SECONDARY-BRIGHT: #db2d28;
  --COLOR-SECONDARY-DARK: #9f161c;
  --COLOR-HIGHLIGHT-BRIGHT: #ead422;
  --COLOR-HIGHLIGHT-DARK: #dea724
}
html{
  scroll-behavior: smooth;
}
main, section{
  overflow-x: hidden;
}
.width-limiter {
  max-width: 1250px;
  width: 98%;
  margin: auto;
}
.nowrap{
  white-space: nowrap;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}
.img-shadow{
  box-shadow: 2px 2px 5px black;
}
.img-border{
  border: .5rem solid white;
}
body,button {
  font-family: 'Roboto',sans-serif;
  background-color: #fff
}

p {
  font-family: 'Poppins',sans-serif;
  font-size: 1.6rem
}

ul {
  list-style-type: none
}
/* ///////////////////////////END ulitity classes\\\\\\\\\\\\\\\\\\\\\\\*/
.service-areas-hero p{
  text-align: center;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.service-areas-hero {
  background-color: #01325bc2;
}
.service-areas-hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index:-2;
}
.service-areas-title {
  padding-top: 7rem;
  text-align: center;
}
.service-areas-title h1 {
  font-size: 7rem;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
  text-shadow: 2px 2px 5px black;
}
.states{
  overflow:clip;
  width: clamp(350px, 90vw, 800px);
 }
 .us-map{
  stroke: black;
  width: 100%;
  height: 100%;
  transform: rotate(-10deg);
}
.ID:hover{
  fill: var(--COLOR-HIGHLIGHT-BRIGHT);
  cursor: pointer;
  stroke: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.WA:hover{
  fill: var(--COLOR-HIGHLIGHT-BRIGHT);
  cursor: pointer;
  stroke: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.why-us-under-title{  
  background-color:white;
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/dark-red-triangle-bg-thin.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.why-us-title {
  font-size: 7rem;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  border-top: 2px solid white;
  background-color: var(--COLOR-SECONDARY-DARK);
}
.why-us-imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.choose-us-card{
  margin: 3rem;
  display:flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border: 2px solid #4c4c4c;
  box-shadow: 2px 2px 5px black;
  transition: all .2s ease;
}
.choose-us-card a {
  text-decoration: none;
}
.choose-us-card-top{
  width: 100%;
  height: 4rem;
  padding: .5rem;
  color: white;
  background-color: var(--COLOR-MAIN-DARK);
  position: relative;
}
.choose-us-card-top p{
  font-size: 2.3rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-left: 2.2rem;
}
.choose-us-card-icon{
  position: absolute;
  top: 0;
  left: 0;
  height: 6.5rem;
  width: auto;
  background-color: var(--COLOR-HIGHLIGHT-BRIGHT);
  border: 2px solid var(--COLOR-HIGHLIGHT-DARK);
  border-radius: 50%;
  transform: translate(-50%, -25%);
}
.choose-us-card-bottom{
  padding: 2.2rem 1rem 1rem 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--COLOR-MAIN-DARK);
  text-align: center;
  background-color: white;
  height: 92%;
}
.choose-us-card:hover{
  transform: rotateZ(-3deg) scale(1.05);
  box-shadow: 4px 4px 15px black;
}
.our-locations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}
.our-locations-section-inner{
  background-image: linear-gradient( var(--COLOR-MAIN-DARK), var(--COLOR-MAIN-BRIGHT));
  border: .5rem solid #3c3c3c;
  padding-bottom: 4rem;
  margin: 0 4rem;
}
.our-locations-title {
  padding: 2rem;
  background-color: var(--COLOR-SECONDARY-DARK);
  text-align: center;
  margin: 0;
  width: 100%;
  border-bottom: 2px solid black;
}
.our-locations-title h2 {
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.our-locations h3 {
  margin-top:3rem;
  font-size: 4rem;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
  text-align: center;
  padding: 2rem;
  border-bottom:2px solid transparent;
  border-image: linear-gradient(to right, transparent, var(--COLOR-HIGHLIGHT-BRIGHT), transparent);
  border-image-slice: 1;
}
.our-locations p {
  color: white;
  padding: 2rem;
}
.our-locations-img {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.our-locations-img img {
  width: clamp(350px, 90vw, 550px);
  height: auto;
  border-radius: 8px;
  box-shadow: 3px 3px 5px black;
}
.reviews-section {
  margin-top: -2rem;
  margin-bottom: -2rem;
  z-index: 100;
  position: relative;
}
.review-heading {
  font-size: 7rem;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}
.review-heading h2 {
  color: var(--COLOR-MAIN-DARK);
}
.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, white, var(--COLOR-HIGHLIGHT-DARK));
  box-shadow: 3px 3px 15px black;
}
.carrousel-container {
  flex-direction: column;
  display: flex;
  width: 100%;
}
.review-carrousel {
  flex: 3;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-slides {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.carousel-slide:nth-child(2) h3,
  .carousel-slide:nth-child(7) h3{
  background-color: #ec407a;
  }
  .carousel-slide:nth-child(3) h3{
  background-color: #455a64;
  }
  .carousel-slide:nth-child(4) h3{
  background-color: #ab47bc;
  }
  .carousel-slide:nth-child(5) h3{
  background-color: rgb(70, 205, 162);
  }
  .review-card{
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 85%;
      height: auto;
      box-shadow: 2px 2px 5px black;
      margin-bottom: 2.5rem;
      padding: 2rem;
    }
    .review-card-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 9rem;
      margin-bottom: 4rem;
      border-bottom: 1px solid #4c4c4c;
    }
    .review-card-top-left{
      display: flex;
      align-items: center;
    }
    .review-name-title{
      display: flex;
      flex-direction: column;
    }
    .review-card h3{
      margin: 1rem;
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      background-color: rgb(255, 190, 25);
      border-radius: 50%;
      text-align: center;
      box-sizing: border-box;
    }
    .reviewer-name{
      font-size: 2rem;
    }
    .review-source{
      font-family: 'Poppins', sans-serif;
      font-size: 1.6rem;
    }
    .star-emojies{
      font-family: 'Segoe UI Emoji';
      font-size: 20;
    }
.carousel-nav {
  position: absolute;
  top: 35%;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  height: 30px;
  width: 30px;
  background-color: transparent;
}
.carousel-nav.prev { 
  left: 10px; 
}
.carousel-nav.next { 
  right: 10px; 
}
.carousel-arrow {
  stroke-width: 8px;
  width: 25px;
  height: 25px;
  fill: none;
  stroke: var(--COLOR-MAIN-DARK);
}
.prev-arrow {
  transform: rotate(90deg);
}
.next-arrow {
  transform: rotate(270deg);
}
.leave-a-review {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 2rem;
}
.leave-a-review a{
  margin: 0 4rem 2rem 4rem;
}
.leave-a-review img{
  height: 6rem;
  width: auto;
  transition: all .2s ease-in-out;
  border: 2px solid white;
  border-radius: 8px;
}
.leave-a-review img:hover{
  transform: scale(1.05);
  box-shadow: 2px 2px 5px black;
}
.service-areas-locations {
  background: var(--COLOR-MAIN-BRIGHT);
  padding: 5rem 0;
}
.serv-areas-loc-main-title h2 {
  font-size: 5rem;
  color: white;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: 2px 2px 5px black;
}
.serv-areas-loc-title-id h2,
.serv-areas-loc-title-wa h2 {
  font-size: 3.5rem;
  background-color: var(--COLOR-SECONDARY-DARK);
  color: white;
  text-align: center;
  border-top: 2px solid white;
  border-bottom:1px solid black;
  border-left: 1px solid  #c4c4c4;
  border-right: 1px solid #c4c4c4;
}
.serv-areas-loc-cols-id,
.serv-areas-loc-cols-wa {
  display: flex;
  padding: 1rem 0;
  background-image: linear-gradient(135deg, #2c2c2c, #4c4c4c);
  border:1px solid  #c4c4c4;
  border-top:none;
  flex-wrap: wrap;
}
.serv-areas-loc-cols-id ul,
.serv-areas-loc-cols-wa ul {
  flex: 1 1 200px;
  line-height: 4rem;
  text-align: center;
}
.serv-areas-loc-cols-id li,
.serv-areas-loc-cols-wa li {
  font-size: 2rem;
  color: white;
  border-radius: 5px;
}
.serv-areas-loc-cols-id a,
.serv-areas-loc-cols-wa a {
  cursor: pointer;
  text-decoration: none;
}
.serv-areas-loc-cols-id li:hover,
.serv-areas-loc-cols-wa li:hover {
  scale: 1.05;
  background: var(--COLOR-MAIN-BRIGHT);
}
.commendations {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.commendations-track {
  display: flex;
  transition: transform 0.5s ease;
}
.commendations img {
  height: 80px;
  width: auto;
}
.commendations-track div {
  flex: 0 0 250px;
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem;
}
@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}
.our-services-header h2{
  padding-top: 2rem;
  font-size: 6rem;
  color: white;
  text-align: center;
  background: linear-gradient(to right, var(--COLOR-SECONDARY-DARK) 50%, var(--COLOR-MAIN-BRIGHT) 50%);
}
.our-services {
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to right, var(--COLOR-SECONDARY-DARK) 50%, var(--COLOR-MAIN-BRIGHT) 50%);
}
.our-services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  padding: 1rem 0;
}
.our-services-container h2 {
  font-size: 3rem;
  margin: .5rem;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.our-services-container p {
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
  opacity: 0;
}
.os-cards {
  position: relative;
  transition: all 0.2s ease-in-out;
  min-width: 300px;
  max-width: 450px;
  flex: 1;
  background-color: var(--COLOR-MAIN-DARK);
  margin: 1rem;
  opacity: 0;
  padding: 1rem;
  box-shadow: 2px 2px 5px black;
  background-size: cover;
  background-repeat: no-repeat;
}
.os-cards a {
  text-decoration: none;
}
.os-cards:first-child{
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/mobile-menu-heatpump.webp);
  z-index: 120;
}
.os-cards:nth-child(2){
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/mobile-menu-furnace.webp);
  z-index: 110;
}
.os-cards:last-child{
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/mobile-menu-ac.webp);
  z-index: 100;
}
.os-cards:hover{
  background-blend-mode: multiply;
  box-shadow: 0 0 15px black;
  transform: scale(1.05);
  cursor: pointer;
}
.os-cards:hover p,
  .os-cards:focus p{
  opacity: 1;
  }
  .os-cards:hover h2,
  .os-cards:focus h2{
color: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.brag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.counter-container {
  flex: 1 0 21%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.counter-container h2 {
  font-size: 2.5rem;
} 
.counter,
.part-of-counter,
.part-of-counter-k {
font-weight: bold;
padding-right: .5rem;
font-size: 7.5rem;
color: var(--COLOR-SECONDARY-DARK);
}
.part-of-counter{
margin-bottom: 1rem;
}
.areas-gallery {
  background-image:linear-gradient(135deg, var(--COLOR-SECONDARY-DARK) 50%, var(--COLOR-MAIN-BRIGHT) 50%);
  padding: 5rem 0 4rem 0;
  text-align:center;
}
.areas-gallery p{
  margin:auto;
  color:white;
  max-width:600px;
  text-align: justify;
  margin-bottom: 4rem;
  padding: .5rem;
  border-top:2px solid white;
  padding-top: 2rem;
}
.areas-gallery h2{
  font-size:5rem;
  color:white;
  margin-bottom: 1.5rem;
}
.areas-gallery-view {
  display:flex;
  justify-content: center;
}
.areas-gallery-view img {
  width:clamp(200px, 100%, 600px);
  height: auto;
  border:1rem solid white;
  box-shadow: 2px 2px 10px black;
  margin-bottom:1rem;
}
.areas-gallery-imgs {
  width: 90%;
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  overflow: hidden;
  margin: auto;
}
.gallery-inner{
  padding:0 5rem;
  }
  .thumbnail-container {
      display: flex;
      position: relative;
      align-items: center;
      margin: auto;
      max-width:700px;
      background-image:linear-gradient(transparent 47%,white 47% 53%, transparent 53%);
      padding: 1rem 0;
    }
    .thumbnail {
      width: 110px;
      height: auto;
      cursor: pointer;
      background-color:white;
      border: 1px solid white;
      box-shadow: 0 0 5px black;
      transform: scale(.8);
      position: relative;
    }
    .thumbnail.active {
      border: 2px solid var(--COLOR-HIGHLIGHT-BRIGHT);
      transform: scale(1);
    }
    #scrollLeft, #scrollRight {
      background: white;
      border: 2px solid var(--COLOR-MAIN-DARK);
      width:3.75rem;
      height:3.75rem;
      cursor: pointer;
      font-size: 2.5rem;
      color: var(--COLOR-MAIN-DARK);
      transition: all .2s ease;
      border-radius:50%;
    }
    #scrollLeft:hover,
    #scrollLeft:focus{
      transform: scale(.95) translateX(-30px);
      background: var(--COLOR-MAIN-DARK);
      color:white;
    }
    #scrollRight:hover,
    #scrollRight:focus{
      transform: scale(.95) translateX(30px);
      background: var(--COLOR-MAIN-DARK);
      color:white;
    }
    #scrollLeft:active{
      transform: scale(1) translateX(-30px);
      background: var(--COLOR-MAIN-BRIGHT);
    }
    #scrollRight:active{
      transform: scale(1) translateX(30px);
      background: var(--COLOR-MAIN-BRIGHT);
    }
    #scrollLeft{
      transform: translateX(-30px);
    }
    #scrollRight{
      transform: translateX(30px);
    }
@media screen and (max-width:768px) { 
  .our-locations-section{
      margin-top: 5rem;
    }
    .our-locations-section-inner{
      margin: 0 1rem;
    }
    .leave-a-review a{
      margin: 0 2rem 2rem 2rem;
    }
    .leave-a-review img{
      height: 5rem;
      width: auto;
    }
    .our-services-header h2{
      font-size: 4rem;
     }
     .counter-container{
      flex-basis: 48%;
    }
    .counter-container h2{
      font-size: 1.3rem;
    }
    .counter,
  .part-of-counter,
  .part-of-counter-k {
    font-size: 3.5rem;
  }
  .part-of-counter{
    margin-bottom: .5rem;
  }
  .review-heading {
      line-height: .6;
    }
   .review-heading span{
      display: inline-block;
      font-size: 2rem;
     }
     .review-card-top{
      margin-bottom: 2rem;
      height: 5.5rem;
    }
    .review-card h3{
      font-size: 3.5rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
    }
    .reviewer-name{
      font-size: 1.4rem;
    }
    .review-source{
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
    }
    .star-emojies{
      font-size: 1.2rem;
    }
    .review-content p{
      font-size: 1.4rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 972px){
  .counter-container{
      flex-basis: 48%;
    }
    .counter-container h2{
      font-size: 2rem;
    }
    .counter,
    .part-of-counter,
    .part-of-counter-k {
      font-size: 6rem;
    }
    .review-heading span{
      display: inline-block;
      font-size: 5rem;
      margin-bottom: 0;
  }
}
@media screen and (min-width: 973px) and (max-width: 1250px) {
  .service-areas-hero p{
      display: none;
    }
    .counter-container h2{
      font-size: 2rem;
    }
    .counter,
    .part-of-counter,
    .part-of-counter-k {
      font-size: 6rem;
    }
    .part-of-counter{
      margin-bottom: .8rem;
    }
    .review-heading span{
      font-size: 5rem;
    }
}
@media screen and (min-width: 1250px) {
  .service-areas-hero p{
      display: none;
    }
    .review-heading span{
      font-size: 5rem;
    }
}
@media screen and (min-width:2000px){
  .why-us-under-title{
    background-size: cover;
  }
}