* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box
  }
  :root {
    --COLOR-MAIN-BRIGHT: #2c8ddb;
    --COLOR-MAIN-DARK: #486a86;
    --COLOR-SECONDARY-BRIGHT: #db2d28;
    --COLOR-SECONDARY-DARK: #9f161c;
    --COLOR-HIGHLIGHT-BRIGHT: #ead422;
    --COLOR-HIGHLIGHT-DARK: #dea724
  }
  html{
    scroll-behavior: smooth;
  }
  main, section{
    overflow-x: hidden;
  }
  .width-limiter {
    max-width: 1250px;
    width: 98%;
    margin: auto;
  }
  .nowrap{
    white-space: nowrap;
  }
  .no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  .img-shadow{
    box-shadow: 2px 2px 5px black;
  }
  .img-border{
    border: .5rem solid white;
  }
  body,button {
    font-family: 'Roboto',sans-serif;
    background-color: #fff
  }
  
  p {
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem
  }
  
  ul {
    list-style-type: none
  }
  /* ///////////////////////////END ulitity classes\\\\\\\\\\\\\\\\\\\\\\\*/
.test-body {
    height: 200vh;
    background-color: #2a2a2a;
  }
  .test-body h1 {
    font-size: 7rem;
    padding-top: 7rem;
    color: white;
    text-align: center;
  }