
header{
    background-color: white;
    position: sticky;
    top:0;
    height: 14rem;
    z-index: 9998;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .message-banner {
    background-color: #4c4c4c;
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .message-banner h3 {
    color: white;
    font-size: 1.3rem;
    padding: .25rem;
  }
  
  .top-bar{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem;
    height: 9rem;
  }
  .header-logo{
    position: relative;
    aspect-ratio: 400 / 177;
    top: 5.5rem;
    left: -10rem;
  }
  .header-logo-small{
    width: 290px;
    height: auto;
    top: 2rem;
    margin-right:7rem;
    margin-left:4rem;  
  } 
  .back-button-container {
    position: relative;
    left: 16%;
    cursor: pointer;
  }
  .back-button {
    display:none;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
  }
  .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  display: none;
  z-index: 1; 
  }
  .arrow span {
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    border-bottom: 5px solid var(--COLOR-MAIN-DARK);
    border-right: 5px solid var(--COLOR-SECONDARY-DARK);
    transform: rotate(45deg);
    margin: -9px;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2) {
    animation-delay: -0.15s;
  }
  .arrow span:nth-child(3) {
    animation-delay: -0.3s;
  }
  @keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
  }
  /* ///////////////////END OF BACK BUTTON////////////////////// */
  #menuContent {
    display: none;
    width: 100vw;
    height: calc(100vh - 12rem);
    height: calc(100dvh - 12rem);
    position: absolute;
    top: 12rem;
    contain: paint;
  }
  .bm-main-menu-text,
  .bm-service-menu-text,
  .bm-about-menu-text {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 3px 3px 2px black;
  } 
  .bm-main-menu,
  .bm-service-menu,
  .bm-about-menu { 
    display: grid;
    overflow: none;
    position: absolute;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-image: radial-gradient(#7ab6e6, var(--COLOR-MAIN-BRIGHT));
    gap: 2rem 2rem;
    padding: 2rem;
    opacity: 0;
  }
  .bm-main-menu {
    transform: translate(-100%, 0%);
    transition: all 0.3s ease;
  }
  .bm-service-menu, .bm-about-menu {
    transform: translate(100%, 0%);
    transition: all 0.3s ease;
  }
  .bm-main-menu-active,
  .bm-service-menu-active,
  .bm-about-menu-active {
    opacity: 1;
    transform: translate(0, 0);
    z-index: 8500;
  }
  .bm-main-menu a,
  .bm-service-menu a,
  .bm-about-menu a {
    text-decoration: none;
    border-radius: 2rem;
    background-color: hsla(0, 0%, 0%, 0.0);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
  }
  .bm-main-menu li,
  .bm-service-menu li,
  .bm-about-menu li {
    border-radius: 2rem;
    padding: 1.5rem 1.5rem;
    text-align: top left;
    box-shadow: 4px 4px 8px black;
    transition: all 0.2s ease;
    height: 100%;
  }
  /* /////////////////////////MOBILE MENU MAIN MENU PICS BELOW///////////////////////// */
  .bm-main-menu a:first-child{
    background-image: url(../images/mobile-menu-home-temp.webp);
  }
  .bm-main-menu a:nth-child(2){
    background-image: url(../images/mobile-menu-services.webp);
  }
  .bm-main-menu a:nth-child(3){
    background-image: url(../images/mobile-menu-service-areas.webp);
  }
  .bm-main-menu a:nth-child(4){
    background-image: url(../images/mobile-menu-products.webp);
    background-position: bottom;
  }
  .bm-main-menu a:nth-child(5){
    background-image: url(../images/mobile-menu-learning-hub.webp);
  }
  .bm-main-menu a:nth-child(6){
    background-image: url(../images/mobile-menu-financing.webp);
  }
  .bm-main-menu a:nth-child(7){
    background-image: url(../images/mobile-menu-savings.webp);
  }
  .bm-main-menu a:last-child{
    background-image: url(../images/mobile-menu-about.webp);
    background-position: bottom;
  }
  /* ///////////////////MOBILE SERVICE MENU PICS BELOW//////////////////// */
  .bm-service-menu a:first-child{
    background-image: url(../images/mobile-menu-furnace.webp);
    background-position: top;
  }
  .bm-service-menu a:nth-child(2){
    background-image: url(../images/mobile-menu-ac.webp);
  }
  .bm-service-menu a:nth-child(3){
    background-image: url(../images/mobile-menu-heatpump.webp);
  }
  .bm-service-menu a:nth-child(4){
    background-image: url(../images/mobile-menu-ductless.webp);
    background-position: bottom;
  }
  .bm-service-menu a:nth-child(5){
    background-image: url(../images/mobile-menu-tankless.webp);
  }
  .bm-service-menu a:nth-child(6){
    background-image: url(../images/mobile-menu-generator.webp);
  }
  .bm-service-menu a:last-child{
    background-image: url(../images/mobile-menu-ev.webp);
    background-position: bottom;
  }
  .bm-about-menu a:first-child{
    background-image: url(../images/mobile-menu-story.webp);
    background-position: top;
  }
  .bm-about-menu a:nth-child(2){
    background-image: url(../images/mobile-menu-careers.webp);
  }
  .bm-about-menu a:nth-child(3){
    background-image: url(../images/mobile-menu-reviews.webp);
  }
  .bm-about-menu a:last-child{
    background-image: url(../images/mobile-menu-news.webp);
    background-position: bottom;
  }
  .bm-main-menu li:hover,
  .bm-service-menu li:hover,
  .bm-about-menu li:hover{
    transform: scale(1.05); 
  }
  .bm-main-menu li:active,
  .bm-service-menu li:active,
  .bm-about-menu li:active{
    background-color: hsla(0, 0%, 0%, 0.5);
    box-shadow: none;
    transform: scale(.95); 
  }
  .bm-main-menu li:active .bm-main-menu-text,
  .bm-service-menu li:active .bm-service-menu-text,
  .bm-about-menu li:active .bm-about-menu-text{
    color: yellow;
  }
  .mobile-service-button-div {
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 3rem;
    border: none;
    box-shadow: 4px 4px 8px black;
    z-index: 8000;
  }
  .mobile-service-button {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-image: radial-gradient( var(--COLOR-SECONDARY-DARK), var(--COLOR-SECONDARY-BRIGHT));
    color: white;
    border: none;
    transition: all .2s ease-in-out;
  }  
  .mobile-service-button:hover, 
  .mobile-service-button:focus,
  .mobile-service-button:active{
    transform: scale(1.05);
    color: var(--COLOR-HIGHLIGHT-BRIGHT);
    text-shadow: 0 0 5px black;
  }
  /* /////////////END OF BURGER MENU STYLING//////////////////////// */
  /*  ///////////////////////////MAIN NAV///////////////////////////////////// */
  .main-nav {
    display: flex;
    justify-content: flex-end; 
    height: 3rem;
    position: relative;
    z-index: 100;
  }
  .menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  } 
  .menu-list li {
    position: relative;
  } 
  .menu-list a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: color 0.2s, border-color 0s;
    border-bottom: 3px solid transparent;
    margin-bottom: 5px;
  }
  .submenu {
    position: absolute;
    top: 4.2rem;
    background-image: linear-gradient(to right, var(--COLOR-MAIN-DARK), var(--COLOR-MAIN-BRIGHT));
    border: 2px solid white;
    list-style: none;
    padding-top: 1rem;
    width: 19rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5); 
    opacity: 0; 
    transform: translate(1rem, 1rem); 
    visibility: hidden; 
    transition: all 0.3s ease;
  }
  .service-submenu-item  a {
    width: 10rem;
    padding: 5px;
    text-align: center;
  }
  .about-us-submenu {
    transform: translate(-7.3rem, 1rem);
  }
  .service-submenu-container {
    position: absolute;
    bottom: -.8rem;
    left: 100%;
    background-color: white;
    border: 3px solid var(--COLOR-MAIN-DARK);
    white-space: nowrap;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);     
    opacity: 0;
    transform: translate(1rem, 1rem);
    visibility: hidden;
    transition: all 0.2s ease;
    padding: 2.1rem 1.5rem .5rem 1.5rem;
  }   
  .service-submenu {
    display: inline-block;
  }
  .submenu-text {
    font-size: 1.4rem;
    color: white;
    padding-left: 2rem;
  }
  .service-submenu-text {
    font-size: 1.2rem;
    color: var(--COLOR-MAIN-DARK);
  }
  .service-submenu-container ul:nth-child(4){
    border-left: 2px solid hsla(206, 54%, 22%, 0.601);
  }
  .submenu-item:active .submenu-text{
    color:var(--COLOR-SECONDARY-BRIGHT);
  }
  .service-area-titles{
    display: flex;
    justify-content: space-around;
  }
  .service-area-titles span {
    font-size: 2rem;
    color: hsl(206, 53%, 22%);
    padding-left: 2.5rem;
    text-decoration: underline;
    padding-bottom: 1rem;
  }
  .service-area-titles span:nth-child(2){
    padding-left: 5rem;
  }
  .menu-item:hover  .submenu, 
  .menu-item:focus  .submenu, 
  .submenu-item:hover > .service-submenu-container,
  .submenu-item:focus > .service-submenu-container {
  display: block;
  opacity: 1;
  visibility: visible;
  }
  .menu-item:hover > .submenu, 
  .menu-item:focus > .submenu {
  transform: translate(0, 0);
  }
  .menu-item:hover > .about-us-submenu,
  .menu-item:focus > .about-us-submenu {
  transform: translate(-6.3rem, 0rem);
  }
  .submenu-item:hover > .service-submenu-container,
  .submenu-item:focus > .service-submenu-container {
  transform: translate(.2rem, 0);
  }
  .menu-item  a:hover,
  .menu-item  a:focus {
  border-bottom: 3px solid var(--COLOR-SECONDARY-BRIGHT);
  background-color: white;
  border-radius: 1rem;
  transform: scale(1.05);
  transition: transform .2s;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.7);
  color: var(--COLOR-SECONDARY-BRIGHT);
  }
  .service-submenu a:hover,
  .service-submenu a:focus,
  .service-submenu a:active{
  background-color: hsl(206, 53%, 22%);
  transform: scale(1);
  border-radius: 0;
  box-shadow: none;
  border-bottom: 3px solid transparent;
  }
  .menu-item a:hover .icon-stroke,
  .menu-item a:focus .icon-stroke {
  stroke: var(--COLOR-SECONDARY-BRIGHT);
  } 
  .menu-item a:hover .location-icon,
  .menu-item a:focus .location-icon{
  stroke: var(--COLOR-SECONDARY-BRIGHT);
  }
  .submenu-item:hover .location-icon,
  .submenu-item:focus .location-icon{
  stroke: var(--COLOR-SECONDARY-BRIGHT);
  }
  .menu-item a:hover .rotated-icon,
  .menu-item a:focus .rotated-icon {
  transform: rotate(270deg) translatex(-.25rem);
  } 
  .menu-item:hover .main-icon-stroke,
  .menu-item:focus .main-icon-stroke,
  .submenu-item:hover .sub-icon-stroke,
  .submenu-item:focus .sub-icon-stroke,
  .service-submenu-item:hover .sub-icon-stroke,
  .service-submenu-item:focus .sub-icon-stroke {
  stroke: var(--COLOR-SECONDARY-BRIGHT);
  }
  .menu-item:hover .menu-text,
  .menu-item:focus .menu-text,
  .submenu-item:hover .submenu-text,
  .submenu-item:focus .submenu-text,
  .service-submenu-item:hover .service-submenu-text,
  .service-submenu-item:focus .service-submenu-text{
  color: var(--COLOR-SECONDARY-BRIGHT);
  }
  .service-submenu-item a:hover .service-submenu-text,
  .service-submenu-item a:focus .service-submenu-text{
  color: white;
  }
  .menu-text {
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
  } 
  .icon-common-elements {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .dropdown-arrow {
    stroke-width: 8px;
    width: 11px;
    height: 11px;
    padding-left: 3px;
    fill: none;
    stroke: black;
  }
  .furnace-icon, .ac-icon, .heatpump-icon, .ductless-icon {
    stroke-width: 2.5rem;
    width: 15px;
    height: 15px;
  }
  .generator-icon,
  .tankless-icon {
    stroke-width: .5rem;
    width: 15px;
    height: 15px;
  }
  .charger-icon {
    stroke-miterlimit: 10;
    stroke-width: 3rem;
    width: 15px;
    height: 15px;
  } 
  .master-icon {
    stroke: black;
    stroke-miterlimit: 10;
    stroke-width: 8px;
    width: 10px;
    height: 10px;
    padding-left: 3px;
  }
  .rotated-icon {
    transform: rotate(270deg);
    position: absolute;
    bottom: 1.5rem;
    stroke: white;
  }
  .story-icon {
    stroke-width: 6px;
    width: 16px;
    height: 16px;
    padding-right: 3px;
  }
  .careers-icon {
    stroke-width: 6px;
    width: 22px;
    height: 22px;
    padding-right: 3px;
  }
  .careers-icon-plus {
    stroke-width: 9px;
    width: 35px;
    height: 35px;
    padding-right: 3px;
  }
  .review-icon {
    stroke-width: 6px;
    width: 20px;
    height: 20px;
    padding-right: 3px;
  }
  .location-icon{
    stroke-width: 9px;
    fill: white;
    width: 15px;
    height: 15px;
  }
  .news-container {
    height: 42px;
  }
  .news-icon {
    stroke-miterlimit: 10;
    stroke-width: 6px;
    width: 25px;
    height: 25px;
    padding-right: 3px;
    position: absolute;
    top: .7rem;
  }  
  #serviceForm {
    display: none;
  }
  .form-overlay {
    display: none;
    position: fixed;
    left: 30%;
    top: 16%;
    width: 700px;
    min-height: 650px;
    background-image: linear-gradient(to bottom, var(--COLOR-MAIN-DARK), var(--COLOR-MAIN-BRIGHT));
    border: 2px solid white;
    z-index: 9999;
    overflow: auto;
    box-shadow: 2px 2px 5px black;
  }
  .body-form-overlay {
    display: none;
    position: fixed;
    top: 52.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 650px;
    background-image: linear-gradient(to bottom, var(--COLOR-MAIN-DARK), var(--COLOR-MAIN-BRIGHT));
    border: 2px solid white;
    z-index: 9999;
    overflow: auto;
    box-shadow: 2px 2px 5px black;
  }
  .search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 8000; 
    display: none;
  }
  .page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 9900; 
    display: none;
}
  .request-form-sidebar{
    flex: 1;
    display: flex;
    background-color: #2a2a2a85;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
    font-size: 3.3rem;
    color: white;
    padding: 1.5rem 1rem 1rem 1rem; 
  }
  .request-form-sidebar img{
    width: 300px;
    height: auto;
    padding: .5rem;
    margin: 1rem 1rem .5rem 1rem;
    background-color: white;
  }
  .request-form-sidebar p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 .75rem 3rem .75rem;
  }
  .body-form-container h3 {
    font-size: 2rem;
  }
  .form-container,
  .body-form-container {
    display: block;
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    height: 100%;
    flex: 1;
    background-color: var(--COLOR-MAIN-BRIGHT);
  }
  .request-form-headline {
    text-align: center;
    color: var(--COLOR-HIGHLIGHT-BRIGHT);
    padding-top: 1rem;
    height: 5rem;
    text-shadow: 0 0 4px black;
  }
  .request-form-headline h3 {
    font-size: 2rem;
  }
  .form-container label,
  .body-form-container label {
    width: 100%;
    padding: 2px;
    margin: 2px 0;
    display: inline-block;
    box-sizing: border-box;
    color: white;
  }
  .form-container input,
  .body-form-container input {
    width: 100%;
    padding: 4px 4px;
    margin: 2px 0;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-radius: 3px;
    border: none;
  }
  .form-container textarea,
  .body-form-container textarea {
    width: 100%;
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    resize: vertical;
  }
  .form-container .btn,
  .body-form-container .btn {
    background-image: radial-gradient(var(--COLOR-HIGHLIGHT-BRIGHT), var(--COLOR-HIGHLIGHT-DARK));
    color: #1d5079;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: all .1s ease-in-out;
    box-shadow: 2px 2px 4px black;
    font-size: 1.5rem;
  }
  .form-container .btn:hover,
  .form-container .btn:focus,
  .form-container .btn:active,
  .body-form-container .btn:hover,
  .body-form-container .btn:focus,
  .body-form-container .btn:active {
    opacity: 0.8;
    transform: scale(1.02);
  }
  .form-container .cancel,
  .body-form-container .cancel {
    background-image: linear-gradient(to right, var(--COLOR-SECONDARY-BRIGHT), var(--COLOR-SECONDARY-DARK));
    color: white;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .search-icon-button {
    position: relative;
    top: 2rem;
    right: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    background: rgba(234, 212, 34, 0.6);       
    border: 2px ridge var(--COLOR-HIGHLIGHT-DARK);  
    box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    border-radius: 50%;         
    outline: none;          
    padding: 0;                      
    cursor: pointer;
  }
  .search-icon-button:hover,
  .search-icon-button:focus {
    background-color: var(--COLOR-HIGHLIGHT-BRIGHT);
  }
  .search-bar,
  .search-bar-button {
  display: none;
  font-size: 1.6rem;
  z-index: 9000;
  position: relative;
  top: 2rem;
  right: 2rem;
  border-radius: 5px;
  }
  .search-bar {
  width: 30rem;
  padding: .25rem;
  }
  .search-bar-button {
  width: 6rem;
  height: 2.8rem;
  color: white;
  background: var(--COLOR-MAIN-BRIGHT);
  border: 2px ridge var(--COLOR-MAIN-BRIGHT);
  cursor: pointer;
  }
  .search-bar-button:hover {
  background: var(--COLOR-MAIN-DARK);
  }
  .search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    background: white;
    z-index: 9001;
    display: none;
  }
  .search-suggestions div {
    color: var(--COLOR-MAIN-BRIGHT);
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.4rem;
  }
  .search-suggestions div:hover {
    color: var(--COLOR-MAIN-DARK);
  }
  #search-results {
    position: absolute;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 9000;
    border-radius: 5px;
  }
  /* Scrollbar - Everything Else */
  #search-results::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  #search-results::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
  }
  #search-results::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
  }
  /* Scrollbar - Firefox */
  #search-results {
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 #f9f9f9;
  }
  .search-result-item {
    padding: 8px;
    background: var(--COLOR-MAIN-BRIGHT);
  }
  .search-result-item a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
  }
  .search-result-description {
    margin-top: 2px;
    font-size: 1.2rem;
  }
  .search-result-item:hover {
    background: var(--COLOR-MAIN-DARK);
  }
  .schedule-service-button,
  .schedule-service-mobile-button {
  border: none;
  font-size: 2.4rem;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to right, var(--COLOR-SECONDARY-BRIGHT), var(--COLOR-SECONDARY-DARK));
  color: white; 
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  }
  .schedule-service-button:hover,
  .schedule-service-button:focus{
  transform: scale(1.05);
  background-blend-mode: multiply; 
  }
  .schedule-service-button:active{
  transform: scale(.98); 
  box-shadow: none;  
  }
  header .schedule-service-button{
  border: none;
  }
  .phone-number {
    margin-right: .5rem;
    font-size: 3.6rem;
    color: var(--COLOR-SECONDARY-BRIGHT);
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
  }  
  .phone-number:hover,
  .phone-number:focus{
    transform: scale(1.05);
    color: var(--COLOR-SECONDARY-DARK);
  }
  .phone-number:active{
    transform: scale(.98);
  }  
  .phone-number::before{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('../images/phone-icon.svg');
    background-size: cover;
    margin-right: 8px;
    transform: rotate(15deg);
  }
  .burger-menu-container {
    position: relative;
    left: 5%;
  }
  .burger-menu{
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .bmenu {
    --s: 4rem;
    --c: var(--COLOR-MAIN-DARK);
    --c-alt: var(--COLOR-SECONDARY-DARK);
    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s)/2) solid #0000; 
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%,#0000 0 80%,var(--c) 0)
    no-repeat content-box border-box;
    --_g2: radial-gradient(circle closest-side at 50% 12.5%,var(--c) 95%,#0000)
    repeat-y content-box border-box;
    background: 
    var(--_g2) left  var(--_p,0px) top,
    var(--_g1) left  calc(var(--s)/10 + var(--_p,0px)) top,
    var(--_g2) right var(--_p,0px) top,
    var(--_g1) right calc(var(--s)/10 + var(--_p,0px)) top;
    background-size: 
    20% 80%,
    40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    mask: linear-gradient(90deg,#0000,#000 25% 75%,#0000);
    cursor: pointer;
    transition: 
    background-position .3s var(--_s,.3s), 
    clip-path 0s var(--_s,.6s);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }
  .bmenu:before,
  .bmenu:after {
    content:"";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform .3s calc(.3s - var(--_s,.3s));
  }
  .bmenu:checked {
    --c: var(--c-alt);
    clip-path: inset(0);
    --_p: calc(-1*var(--s));
    --_s: 0s;
  }
  .bmenu:checked:before {
    transform: rotate(45deg);
  }
  .bmenu:checked:after {
    transform: rotate(-45deg);
  }
  .bmenu:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
  }
  .news-text {
    padding-left: 4rem;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 250px;
    height: 100px;
    border-radius: 5px;
  }
  .close-button {
    color: var(--COLOR-SECONDARY-DARK);
    float: right;
    font-size: 36px;
    font-weight: bold;
  }
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* //////////////////////////////SOCIAL SIDEBAR///////////////////////////// */
  @keyframes slideIn {
    from {
      left: -40px;
    }
    to {
      left: 0;
    }
  }
  .social-sidebar {
    position: fixed;
    left: -40px;
    top: 50%;
    height: 126px;
    width: 40px;
    z-index: 800;
    background-color: #4c4c4c99;
    border-radius: 5px 0 0 5px;
    animation: slideIn 0.5s ease-out 1s forwards;
    transition: top 0.3s ease;
  }
  .social-sidebar a {
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    transition: all 0.1s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3px;
  }
  .social-sidebar a:first-child {
    background-color: #1877F2;
    background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/facebook-icon-white.png);
  }
  .social-sidebar a:nth-child(2) {
    background-color: #8134af;
    background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/instagram-icon-white.png);
  }
  .social-sidebar a:last-child {
    background-color: #CD201F;
    background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/youtube-icon-white.png);
    margin-bottom: 0;
  }
  .social-sidebar a:hover {
    transform: translateX(5px);
    opacity: 90%;
    border: 2px solid var(--COLOR-MAIN-BRIGHT);
  }
  /* //////////////////////////////////END OF SOCIAL SIDEBAR//////////////////////////////// */
  @media screen and (max-width:768px) {
    .form-overlay,
    .body-form-overlay {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        width: 100dvw; 
        min-height: 100vh;
        min-height: 100dvh;
        height: auto;
        border: none;
        z-index: 9999;
        overflow: auto;
    }
    .form-container,
    .body-form-container {
        font-size: 2.5rem;
        background-color: transparent; 
    }
    .form-container input, 
    .form-container textarea, 
    .form-container button,
    .body-form-container input, 
    .body-form-container textarea, 
    .body-form-container button {
        font-size: 1.3rem; 
    }
    .desktop-only{
        display: none;
    }
    .header-logo {
        height: 5rem;
        width: auto;
        position: relative;
        left: 4rem;
        top: 0;
    }
    header{
        height: 9rem;
    }
    .top-bar{
        padding-top: 0;
    }
    .message-banner{
        text-align: left;
    }
    .scroll-text {
        position: absolute;
        white-space: nowrap;
        display: inline-block;
        animation: scrollText 20s linear infinite;
    } 
    @keyframes scrollText {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    } 
    .burger-menu,
    .back-button-container {
        display: inline-block;
    }
    .about-us-outer{
        background-size: cover;
        background-color: #4c4c4ce9;
        background-blend-mode: multiply;
      }
      .social-sidebar{
        display: none;
      }
    }
  @media screen and (min-width: 769px) and (max-width: 972px){
    .burger-menu-container {
        display: none;
        }
    .phone-number{
        font-size: 2.8rem;
        }
    header .schedule-service-button{
        font-size: 1.6rem;
        }
    .menu-text{
        font-size: 1.5rem;
    }
    .mobile-service-button-div {
        display: none;
    }
    .menu-item:hover > .about-us-submenu,
    .menu-item:focus > .about-us-submenu {
        transform: translate(-7.3rem, 0rem);
    }
    .form-overlay{
        left: 0%;
      }
      .header-logo{
        width: 20dvw;
        height: auto;
        position: static;
        padding-top: .2rem;
       } 
       .about-us-outer{
        background-size: cover;
        background-color: #4c4c4c;
        background-blend-mode: multiply;
      }
    }
  @media screen and (min-width: 973px) and (max-width: 1250px) {
    .burger-menu-container {
        display: none;
        }
    .phone-number{
        font-size: 3rem;
        }
    header.schedule-service-button{
        font-size: 1.5rem;
        }
    .menu-text{
        font-size: 1.5rem;
    }
    .mobile-service-button-div {
        display: none;
    }
    .menu-item:hover > .about-us-submenu,
    .menu-item:focus > .about-us-submenu {
        transform: translate(-7.3rem, 0rem);
    }
    .header-logo{
        width: 22dvw;
        height: auto;
        top: 2rem; 
      } 
      .form-overlay{
        left: 20%;
      }
    }
  @media screen and (min-width: 1250px) {
    .burger-menu-container {
        display: none;
        }
    .mobile-service-button-div {
        display: none;
    }   
  }