* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box
}
:root {
  --COLOR-MAIN-BRIGHT: #2c8ddb;
  --COLOR-MAIN-DARK: #486a86;
  --COLOR-SECONDARY-BRIGHT: #db2d28;
  --COLOR-SECONDARY-DARK: #9f161c;
  --COLOR-HIGHLIGHT-BRIGHT: #ead422;
  --COLOR-HIGHLIGHT-DARK: #dea724
}
html{
  scroll-behavior: smooth;
}
main, section{
  overflow-x: hidden;
}
.width-limiter {
  max-width: 1250px;
  width: 98%;
  margin: auto;
}
.nowrap{
  white-space: nowrap;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}
.img-shadow{
  box-shadow: 2px 2px 5px black;
}
.img-border{
  border: .5rem solid white;
}
body,button {
  font-family: 'Roboto',sans-serif;
  background-color: #fff
}

p {
  font-family: 'Poppins',sans-serif;
  font-size: 1.6rem
}

ul {
  list-style-type: none
}
/* ///////////////////////////END ulitity classes\\\\\\\\\\\\\\\\\\\\\\\*/
.news-rebates-section {
  background-color: var(--COLOR-MAIN-BRIGHT);
  background-image: linear-gradient(var(--COLOR-MAIN-BRIGHT), white);
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.news-general-section {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.news-local-section {
  background-color: var(--COLOR-MAIN-BRIGHT);
  background-image: linear-gradient(white, var(--COLOR-MAIN-BRIGHT));
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.news-rebates-title,
.news-general-title,
.news-local-title {
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
  font-size: 7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 2px 2px 2px black;
  
}
.news-general-title,
.news-local-title{
  color: var(--COLOR-SECONDARY-DARK);
  text-shadow: none;
}
.news-card {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 2rem 0;
  box-shadow: 2px 2px 5px;
  padding: .5rem .5rem;
}
.news-card-img {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: .75rem;
  flex-basis: 15%;
}
.news-card-img img {
  height: auto;
  width: 100%;
}
.news-card-text {
  display: block;
  align-items: center;
  flex-basis: 80%;
  padding-top: .8rem;
  min-width: 350px;
  height: auto;
  padding-bottom: 1rem;
}
.news-card-text h2 {
  font-size: 3rem;
  padding: .5rem;
}
.news-card-text p {
  font-size: 1.5rem;
  padding: .5rem .5rem 1.5rem .5rem;
}
.buttons {
  background-color: #486a86;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  margin: 1rem 0;
  width: auto;
  padding: 2.5px 5px;
  font-size: 1.3rem;
  border: 2px solid transparent;
  margin-left: .5rem;
}
.buttons:hover {
  border: 2px solid var(--COLOR-MAIN-BRIGHT);
  background-color: #5983a5;
}
@media screen and (max-width:768px) {
  .news-card-img{
    flex-basis: 30%;
  }
  .news-card-text{
    flex-basis: 60%;
  }
}