.furnace-hero {
  background-color: var(--COLOR-MAIN-DARK);
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/lighted-bg.webp);
  background-blend-mode: multiply;
  background-position: top;
}
.furnace-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9rem 2rem 2rem 2rem;
}
.furnace-hero-content{
  flex: 1 1 600px;
  padding: 0 1rem;
}
.furnace-hero-img img {
  height: auto;
  width: clamp(350px, 80vw, 500px);
}
.furnace-hero-img{
  flex: 1 1 450px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.furnace-hero-content-headline{
  font-size: 6rem;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.furnace-hero-content-headline + h1{
  font-size: 4.4rem;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.furnace-hero-content p {
  margin: 3rem 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}
.furnace-hero-img,
.furnace-hero-content {
flex: 1;
}
.standalone-headline{
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 3rem;
  margin-bottom: 2rem;
  background-color: var(--COLOR-SECONDARY-DARK);
}
.furnace-installation{
  padding: 3rem
}
.furnace-installation h2{
  font-size: 3.5rem;
  color: var(--COLOR-SECONDARY-DARK);
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--COLOR-MAIN-DARK);
}
.furnace-installation p{
  font-size: 1.5rem;
  color: black;
  padding-bottom: 1rem;
}
.get-started-outer{
  background-color: var(--COLOR-MAIN-BRIGHT);
}
.get-started {
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}
.get-started-image{
  flex: 1 1 425px;
  padding-bottom: 2rem;
}
.get-started-image img{
  width: 90%;
  height: auto;
  padding: 2rem 1rem 2rem 5rem;
}
.lets-get-started {
  flex: 1 1 425px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem 3rem 4rem 3rem;
}
.get-started h2 {
  font-size: 5rem;
  color: white;
  padding: 2rem;
}
.get-started p{
  margin-top: 3rem;
}
.call-us-button{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 10px;
  width: auto;
  padding: 1rem 7.4rem;
  font-size: 2rem;
  border: 2px solid white;
}
.call-us-button:hover{
  transform: scale(1.05);
  background-color: var(--COLOR-MAIN-DARK);
}
.buttons {
background-color: var(--COLOR-MAIN-DARK);
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: all .2s ease;
margin-top: 10px;
width: auto;
padding: 10px 20px;
font-size: 1.5rem;
border: 2px solid transparent;
}
.buttons:hover {
border: 2px solid var(--COLOR-MAIN-BRIGHT);
background-color: #5983a5;
}

@media screen and (max-width: 972px){
  .get-started{
      align-items: center;
    }
    .standalone-headline{
      font-size: 3rem;
    }
    .furnace-hero-content-headline + h1{
      font-size: 2.4rem;
      color: var(--COLOR-HIGHLIGHT-BRIGHT);
    }
}
@media screen and (min-width: 973px) and (max-width: 1250px) {
  .get-started{
      align-items: center;
    }
}