.furnace-hero {
  background-color: var(--COLOR-MAIN-DARK);
  background-image: url(https://callbillsheating.s3.us-west-2.amazonaws.com/lighted-bg.webp);
  background-blend-mode: multiply;
  background-position: top;
}
.furnace-hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 9rem 2rem 2rem 2rem;
}
.furnace-hero-content{
  flex: 1 1 600px;
  padding: 0 1rem;
}
.furnace-hero-img img {
  height: auto;
  width: clamp(350px, 80vw, 500px);
}
.furnace-hero-img{
  flex: 1 1 450px;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.furnace-hero-content-headline{
  font-size: 6rem;
  color: var(--COLOR-HIGHLIGHT-BRIGHT);
}
.furnace-hero-content-headline + h1{
  font-size: 4.4rem;
}
.furnace-hero-content p {
  margin: 3rem 0 2rem 0;
  font-size: 1.5rem;
  color: white;
}
.furn-inst-process-body-content,
  .whats-next-card,
  .furnace-hero-img,
  .furnace-hero-content {
  flex: 1;
  }
.generac-headline + h1{
  color: white;
}
.orange-background{
  background-color: #c4520b;
}


.standalone-headline{
  font-size: 3rem;
  color: white;
  text-align: center;
  padding: 1rem;
  text-shadow: 2px 2px 2px black;
 
}
.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image:linear-gradient(var(--COLOR-MAIN-DARK)0% 75%, white 75%);
}
.faq-section,
.furn-inst-expect-section,
.furn-inst-process-section,
.furn-inst-why-us,
.whats-next-section {
  padding: 3rem 0;
}
.faq-section-inner{
  border: 1px solid #424242;
  border-radius: 20px;
  background-color: white;
  padding:1rem 1rem 3rem 1rem;
  box-shadow: 2px 2px 5px black;
 }
 .faq-title {
  text-align: center;
}
.faq-title h2{
  font-size: 5rem;
  color: var(--COLOR-MAIN-DARK);
  text-decoration: underline;
  margin-bottom: 2rem;
}
.faq-body {
  display: flex;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .faq-col-1 a,
  .faq-col-2 a {
  flex:1 1 450px;
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 3.5rem;
  color: var(--COLOR-MAIN-BRIGHT);
  padding: 0  1rem;
  }
  .faq-col-1 a:hover,
  .faq-col-2 a:hover{
  color: var(--COLOR-SECONDARY-BRIGHT);
  }
  .areas-local-needs {
      padding: 3rem 1rem 3rem 0;
      background: white;
      margin-bottom: 1rem;
  }
  .local-needs-container {
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap:wrap;
  padding-right:2rem;
  }
  .local-needs-text {
      flex: 1 1 350px;
      margin: .5rem;
      padding: 1rem;
  }
  .local-needs-text p{
  font-size:1.6rem;
  text-align: justify;
  }
  .local-needs-text h2 {
  font-size: 3rem;
  color: var(--COLOR-MAIN-DARK);
  margin-bottom: 2rem;
  text-align:center;
  }
  .local-needs-img {
      flex: 1 1 350px;
  }
  .twobyone-image{
      background-color: white;
      width: 100%;
      height: auto;
      margin: 0 1rem;
      padding: .5rem;
      box-shadow: 2px 2px 5px black;
      position: relative;
      z-index:5;
  }
  .areas-commitment {
      padding: 2rem 1rem;
    }
    .areas-commitment-container {
      display: flex;
      align-items: center;
      margin: auto;
      flex-wrap:wrap-reverse;
      padding-right: 1rem;
    }
    .areas-commitment-text {
      flex: 1 1 350px;
      margin: .5rem;
      padding: 1rem;
      color:black;
    }
    .areas-commitment-text h2 {
      font-size: 3rem;
      color: var(--COLOR-MAIN-DARK);
      margin-bottom: 2rem;
      text-align:center;
    }
    .areas-commitment-img {
      flex: 1 1 350px;
      margin: 0 1rem;
      padding: .5rem;
    }
    .areas-commitment p{
      text-align:justify;
    }
    .furn-inst-process-section{
      background-image: linear-gradient(135deg, var(--COLOR-MAIN-DARK) 50%, var(--COLOR-MAIN-BRIGHT));
      color: white;
    }
    .furn-install-installation-process{
      margin-top: 3rem;
      font-size: 4rem;
      text-align: center;
      padding:1rem;
      border-bottom:2px solid transparent;
      border-image: linear-gradient(to right, transparent, white, transparent);
      border-image-slice: 1;
    }
    .furn-install-process{
      display: flex;
      flex-wrap: wrap;
    }
    
  .furn-inst-process-body-content{
  padding:2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 450px;
  }
  .furn-inst-process-body-content img{
  width: clamp(250px, 90vw, 400px);
  box-shadow:2px 2px 5px black;
  border: 2px solid white;
  }
  .furn-inst-process-body-content p{
  padding: 1.5rem;
  }
  .generac-headline{
  color: #db6920;
  }
  .furn-inst-why-title h2{
  font-size: 3.5rem;
  color: var(--COLOR-SECONDARY-DARK);
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
  }
  .furn-inst-why-list{
      display: flex; 
      flex-direction: column; 
      align-items: center;
      padding-bottom: 4rem;
      border-bottom: 2px solid var(--COLOR-MAIN-DARK);
    }
    .furn-inst-why-list li {
      font-size: 1.4rem;
      line-height: 1.5;
      color: #4c4c4c;
      padding: 0 2rem;
    }
    .furn-inst-why-list ul {
      list-style-type:none;
      text-align: left;
      padding-left: 0; 
      list-style-type: none; 
    }
    .furn-inst-why-list span {
      font-size: 2rem;
      text-decoration: underline;
      font-weight: bolder;
      color: var(--COLOR-MAIN-DARK);
    }
    .whats-next-title{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .whats-next-title img{
      max-width: 800px;
      width: 100%;
      height: auto;
      margin: 1rem 1rem 3rem 1rem;
      box-shadow: 2px 2px 5px black;
      border: 1px solid white;
    }
  .whats-next-title :first-child{
      text-align: center;
      font-size: 5rem;
      padding-bottom: 1rem;
      color: var(--COLOR-MAIN-DARK);
  }
  .whats-next-title :nth-child(2){
     text-align: center;
      font-size: 3rem;
      padding-bottom: 2rem;
      color: var(--COLOR-SECONDARY-DARK);
  }
  .whats-next-title p{
      text-align: center;
      color: black;
      padding-bottom: 3rem;
  }
  .whats-next-body {
      display: flex;
      padding: 1rem 0;
      gap: 1rem;
      flex-wrap: wrap;
  }
  .whats-next-body-bottom{
      text-align: center;
      max-width: clamp(285px, 90vw, 800px);
      color: var(--COLOR-SECONDARY-DARK);
  }
  .whats-next-body-bottom p{
      font-style: italic;
      font-size: 2rem;
  }
  .whats-next-card{
      flex: 1 1 300px;
      margin: 1rem 2rem;
      border-bottom: 2px solid #2b2b2b;
      box-shadow: 2px 2px 5px black;
      padding: 2rem 2rem;
  }
  .whats-next-card h3 {
      font-size: 2rem;
      text-align: center;
      padding-bottom: 1.5rem;
      color: var(--COLOR-SECONDARY-DARK);
      border-bottom: 2px solid var(--COLOR-SECONDARY-DARK);
  }
  .whats-next-card p{
      text-align: justify;
      font-size: 1.4rem;
      padding: 2rem 0rem 1rem 0rem;
     
  }
  .get-started-outer{
      border-top: .5rem solid var(--COLOR-MAIN-DARK);
      background-color: var(--COLOR-MAIN-BRIGHT);
    }
  .get-started {
      display: flex;
      height: 100%;
      align-items: flex-start;
      flex-wrap: wrap-reverse;
  }
  .get-started-image{
      flex: 1 1 425px;
      padding-bottom: 2rem;
  }
  .get-started-image img{
      width: 90%;
      height: auto;
      padding: 2rem 1rem 2rem 5rem;
  }
  .lets-get-started {
      flex: 1 1 425px;
      text-align: center; 
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 2rem 3rem 4rem 3rem;
  }
  .get-started h2 {
      font-size: 5rem;
      color: white;
      padding: 2rem;
  }
  .get-started p{
      margin-top: 3rem;
  }
  .call-us-button{
      background-color: transparent;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease;
      margin-top: 10px;
      width: auto;
      padding: 1rem 7.4rem;
      font-size: 2rem;
      border: 2px solid white;
  }
  .call-us-button:hover{
      transform: scale(1.05);
      background-color: var(--COLOR-MAIN-DARK);
  }
@media screen and (max-width:768px) { 
  .furn-install-hero-container h1{
  font-size: 6rem;
  }
  .faq-title h2{
      font-size: 4rem;
  }
  .faq-col-1 a,
    .faq-col-2 a{
      font-size: 1.6rem;
      line-height: 2;
  }
  .whats-next-section{
    padding-top: 2rem;
  }
  .whats-next-title :first-child{
      font-size: 4rem;
  }
  .whats-next-title :nth-child(2){
     font-size: 2.5rem;
 }
  .furn-install-after-install + h2{
      font-size: 3rem;
  }
  .furnace-hero-content-headline + h1{
    font-size: 2.4rem;
  }
  .furn-inst-why-title h2{
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
  .get-started{
    align-items: center;
}
}
@media screen and (min-width: 769px) and (max-width: 972px){
  .get-started{
      align-items: center;
  }
}
@media screen and (min-width: 973px) and (max-width: 1250px) {
  .get-started{
      align-items: center;
  }   
}